.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.modal {
    background: white;
    padding: 40px;
    border: 10px solid #f85;
    box-shadow: 0 0 0 10px white;
    position: relative;
    width: 80vw;
    max-width: 600px;
    box-sizing: border-box;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, -0, 0);
    }
}

.ativo .modal {
    animation: modal .3s forwards;
}

.fechar {
    font-size: 1.2rem;
    font-family: monospace;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    top: -30px;
    right: -30px;
    position: absolute;
    background: #e54 url('../../img/fechar.svg') no-repeat center center;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.modal label {
    font-family: monospace;
    display: block;
    font-weight: 700;
    margin: 1rem 0 .5rem  0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
    border: 2px solid #222;
    border-radius: 0px;
}

.modal button[type="submit"] {
    display: block;
    font-size: 1rem;
    font-family: monospace;
    color: white;
    background-color: #e54;
    border: none;
    border-radius: 4pc;
    padding: .7rem 2rem;
    margin-top: 1rem;
}